<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="SERVICEURL" value="http://localhost:1088/common.svc"/>
    <add key="DBAdapterAccess" value="LOCAL"/>
    <add key="DBTYPE" value="SQL"/>
    <add key="DBServer" value="Mukaram-PC"/>
    <add key="DBAuthentication" value="SQLServer"/>
    <add key="DBUserID" value="sa"/>
    <add key="DBPassword" value="asdfasdf1"/>
    <!-- Loggin Section-->
    <add key="LogLevel" value="DEBUG,INFO,ERROR,WARN"/>
    <add key="LogFilePath" value="\PACT\Logs\"/>
   
    <!-- Loggin Section-->
  </appSettings>
 <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPactWebService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1553/PactWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPactWebService"
          contract="PactWebService.IPactWebService" name="BasicHttpBinding_IPactWebService" />
    </client>
  </system.serviceModel>

</configuration>

