<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HTTPBaseAddress" value=""/>
    <add key="DBTYPE" value="SQL"/>
    <add key="DBServer" value=".\MUKDB"/>
    <add key="DBAuthentication" value="SQLServer"/>
    <add key="DBUserID" value="sa"/>
    <add key="DBPassword" value="asdfasdf1"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PACT.Service.Common" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="PACT.Service.ICommon"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
